@import 'base/variables';
@import 'base/animation';


* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/partners';
@import 'blocks/firm';
@import 'blocks/reading';
@import 'blocks/process';
@import 'blocks/stage';
@import 'blocks/clients';
@import 'blocks/staircase';
@import 'blocks/featured';
@import 'blocks/team';
@import 'blocks/think';