.featured  {
    min-height: 918px;
    padding: 113px 138px 111px 136px;
    &__title {
        color: #1B1A1A;
        font-family: Poppins;
        font-size: 39px;
        font-weight: 400;
        line-height: 42px; 
    }
    &__descr {
        width: 581px;
        margin-top: 15px;
        color: #645C55;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }
    &__projects {
        display: flex;
    }
    &__project {
        width: 375px;
        height: 456px;
        margin-top: 44px;
        background-image: url(/src/images/house.png);
        &:hover {
            cursor: pointer;
            animation: animate-grow 5s infinite linear;
           
        }
        &_heading {
            color: #645C55;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &_title {
            color: #403E3B;
            font-family: Poppins;
            font-size: 23px;
            font-weight: 400;
            line-height: 30px; 
                    }
        &:nth-child(2) {
            padding: 40px 128px 368px 40px;
            background-image: url(/src/images/big-road.png);
            margin-left: 20px;
        }
        &:nth-child(3) {
            background-image: url(/src/images/edge\ house.png);
            margin-left: 20px;
        }
    }
    &__view {
        cursor: pointer;
        margin-top: 53px;
        color: #1B1A1A;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
        &:hover {
            transition: 0.5s ease-in-out;
            color:red;
        }
    }
}