.team {
    min-height: 592px;
    padding: 96px 287px 153px 136px;
    &__wrap {
        display: flex;
    }
    &__described {
        width: 397px;
        height: 392px;
        padding: 0 20px 207px 0;
       
    }
    &__employees {
        width: 773px;
        height: 392px;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       align-content: center;
       gap: 52px 144px;
       margin-left: 16px;
    }
    &__title {
        color: #403E3B;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
      }
    &__descr {
        margin-top: 14px;
        color: #645C55;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }
    &__subtitle {
        margin: 41px 0 0 25px;
        color: #1B1A1A;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: 0.4px;
    }
    &__employe {
        display: flex;
        align-items: center;
    }
    &__inner {
        margin-left: 30px;
    }
    &__name {
        color: #1B1A1A;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px; 
    }
    &__position {
        color: #645C55;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
}